/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	margin: 0;

	.common-header{
		font-color: white;
		background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/4030999/1160/661/m1/fpnw/wm0/nature_background_with_green_leaves_and_grass-.jpg?1519082029&s=59c130c436599da9a10797b63909acfd");
		display: flex;
		justify-content: space-around;
		box-shadow: 2px 2px 2px 2px lightgrey;
		
		.logo{
			width: 40%;
			text-align: left;
		}

		.auth-info-links{
			width: 40%;
			text-align: right;

			display: flex;
			justify-content: flex-end;

			p:first-child{
				margin-right: 15px;
				color: cream;

			}
			a{
			 color: white
			 
			}
		}

	}


}

